<div class="row">
  <div class="span6 offset3">
   
   <%= @profile %>
   
   <%= p "current user" %>
    <%= @profile.first_name %>
   <%= current_user %>
   <%= current_user.BasicProfile.first_name %>
  </div>
</div>