<!DOCTYPE html>   

<div class="profile">
<h1>Connections</h1>

  <table class="zebra-striped">
  <thead>
        <tr>
            <th><%=link_to "FirstName", :sort => "first_name"%></th>
			<th><%=link_to "Last Name", :sort => "last_name"%></th>
			<th><%=link_to "Industry", :sort => "industry"%></th>
			<th><%=link_to "Country", :sort => "country"%></th>
			<th>Last update</th>
        </tr>
    </thead>
	<tbody>
	<%  for con in @Connections %>
		<tr>
			<td><%= con.first_name %></td>	      
			<td><%= con.last_name %></td>
			<td><%= con.industry %></td>
			<td><%= con.country %></td>
			<td><% if !con.update_events.last.nil? %>
				<%= p "updated to " %>
				<%= con.update_events.last.content %>
				<%= p " on " %>
				<%= con.update_events.last.created_at.to_date %>
				<% end %></td>
		</tr>
	<% end %>
	</tbody>
</table>
</div>