  <div class="center hero-unit">
    <%= @user.name %> <%= @user.email %> <%= @user.BasicProfile %>
	<%= link_to "Profile", profile_path, 
                                class: "btn btn-large btn-primary" %> 
    <%= link_to "Connections", connections_path, 
                                class: "btn btn-large btn-primary" %> 
	<%= link_to "Get LinkedIn updates", linkedin_path, 
                                class: "btn btn-large btn-primary" %>
	<%= link_to "Show netwrok feed", feed_path, 
                                class: "btn btn-large btn-primary" %>
	<%= link_to "Look for skills", skills_path, 
                                class: "btn btn-large btn-primary" %>
     
  </div>  